body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    width: 100%;
    background-color: cornflowerblue;
    color: white;
}

header, h1{
    padding: 5px 45px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.info-resultados{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F0F0;
    padding: 5px 100px;

}

.texto-explica-imc{
    width: 50%;
    padding: 5px;
    text-align: justify;
}

.imagem-explica img{
    width: 300px;
    height: 300px;
}

.executa-calculo-imc{
    padding: 5px;
    width: 400px;
}

.info{
    display: inline-block;
    width: 100px;
    padding: 0px 5px;
}

#peso{
    padding: 5px;
    border: 3px solid cornflowerblue;
    border-radius: 5px;
    width: 80px;
}

#altura{
    padding: 5px;
    border: 3px solid cornflowerblue;
    border-radius: 5px;
    width: 80px;
}

.btn-imc{
    display: inline-block;
    padding: 10px;
}

#calcula-imc{
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    margin: 5px;
    margin-left: -5px !important;
    border: 2px solid white;
    width: 100px;
    height: 30px;
}

#limpar-info{
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    margin: 5px;
    margin-left: 5px !important;
    border: 2px solid white;
    width: 100px;
    height: 30px;
}

#resultado{
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
    padding-top: 30px; 
}

.msg-erro{
    color: red;
}

@media only screen and (max-width:880px){

    header, h1{
        padding: 3px 15px;

    }

    .info-resultados{
        padding: 5px 50px;    
    }

}

@media only screen and (max-width:768px){

    header, h1{
        padding: 3px 10px;

    }

    .info-resultados{
        padding: 2px 30px;
           
    }

}